<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATLAS</title>
    <link rel="stylesheet" th:href="@{/css/inicio.css}">

</head>
<body>
    
<div class="container-inicio">

    <div class="eleccion">
        <h2>¿Usted es?</h2>

                    <p class="texto-info">Seleccione su rol dentro de la institucion</p>

            <div class="opciones">
                    <a class="boton-rol" th:href="@{/inicio/login(tipo='coordinador')}">Coordinador</a>

                    <a class="boton-rol" th:href="@{/inicio/login(tipo='docente')}">Docente</a>
            </div>
    </div>



</div>



</body>
</html>